*{
    font-family: Lato;
}
.language{
    padding: unset;
}
.language-custom{
    width: 25px;
    border-radius: unset !important;
    margin-right: unset !important;
}
.well{
    border-radius: unset;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa-icon{
    font-size: 18px;
    width: 28px;
}
.nav-sm .menu_section span.fa-arrow-right {
    display: block;
    float: unset;
    text-align: center;
}
span.fa-arrow-right{
    padding-top: 5px;
    float: right;
}
span.fa-arrow-right-import{
    padding-top: 5px;
    float: right !important;
}
.title-content-info{
    clear: both;
    width: 75%;
    margin: 0 -10px 5px -10px;
    padding: 10px 15px;
    border: 1px solid #e3e3e3;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    font-family: lato;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.txt-upper{
    font-family: lato;
    text-transform: uppercase;
}
.icon-create{
    font-size: 20px;
    padding-top: 2px;
}
.W120PX{
    min-width: unset !important;
    width: 120px !important;
}
.W75PX{
    width: 75px;
}
.remove-width{
    max-width: unset;
    width: 100%;
}
.remove-mg{
    margin: unset;
}
.remove-pdd{
    padding: unset;
}

.modal-content{
    border-radius: unset;
}
.modal-header, .modal-footer, .modal-body{
    padding: 8px;
}
.modal-title{
    display: contents;
}
button{
    margin-right: unset;
    margin-bottom: unset; 
}